// Color 
$color_primary: #9356DC; //purple
$color_secondary: #FF79DA; //pink
$color_tertiary: #99E2D0; //light green
$color_tertiary_bis: #008766; //green
$color_dark: #353535; //dark grey
$color_semi_dark: #7E7E7E; //semi dark grey
$color_light: #F6F6F6; //light grey
$color_semi_light: #EAEAEA; //semi ligth grey
$color_text: #FFFFFF; //white
$color_default: #000000; //black

// Font
$font-primary: "Roboto";
$font-secondary: "Shrikhand";
$gen-font-size: 1rem; //1rem = 16px