@import "./abstracts/_variables.scss";

/*-------------------- General --------------------*/
* {
    font-family: $font-primary, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    min-width: 375px;
    max-width: 1440px;
}

/*-------------------- Header --------------------*/
.header {
    display: flex;
    justify-content: center;
    width: 100%;

    &__logo {
        font-family: $font-secondary;
        font-size: 30px;
        margin-top: 14px;
        margin-bottom: 5px;
    }
}

/*-------------------- Searchbar --------------------*/
.searchbar {
    background-color: $color_semi-light;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 15.5px;
    padding-bottom: 15.5px;
}

/*-------------------- Footer --------------------*/
.footer {
    background-color: $color_dark;
    width: 100%;

    &__content {
        display: flex;
        flex-direction: column;
        padding: 22px 25px;
    }

    &__logo {
        filter:invert(100%);
        width: 30%;
        margin-bottom: 16px;
    }

    &__list {
        list-style: none;
    }

    &__item {
        margin-bottom: 7px;
        &:last-child {
            margin-bottom: 0;
          }
    }

    &__link {
        color: $color_text;
        text-decoration: none;
    }
}