@import "./abstracts/_variables.scss";

/*-------------------- General --------------------*/
* {
    font-family: $font-primary, sans-serif;
    font-size: 16px;
    // font-weight: 300;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    min-width: 375px;
    max-width: 1440px;
}

/*-------------------- Header --------------------*/
.header {
    display: flex;
    justify-content: center;
    width: 100%;

    &__logo {
        font-family: $font-secondary;
        font-size: 30px;
        margin-top: 14px;
        margin-bottom: 5px;
    }
}

/*-------------------- Searchbar --------------------*/
.searchbar {
    background-color: $color_semi_light;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 15.5px;
    padding-bottom: 15.5px;
}

/*-------------------- Intro --------------------*/
.intro {
    background-color: $color_light;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

    &__title {
        font-size: 24px;
        margin-top: 39.5px;
        margin-bottom: 15px;
    }

    &__subtitle {
        font-size: 18px;
    }

    &__btn {
        color: $color_text;
        text-decoration: none;
        margin-top: 27px;
        margin-bottom: 27px;
        width: 200px;
        background: linear-gradient(193.33deg, $color_primary -11.44%, $color_secondary 123.93%);
        border-radius: 25px;
    }
}

/*-------------------- Footer --------------------*/
.footer {
    background-color: $color_dark;
    width: 100%;

    &__content {
        display: flex;
        flex-direction: column;
        padding: 22px 25px;
    }

    &__logo {
        filter:invert(100%);
        width: 30%;
        margin-bottom: 16px;
    }

    &__list {
        list-style: none;
    }

    &__item {
        margin-bottom: 7px;
        &:last-child {
            margin-bottom: 0;
          }
    }

    &__link {
        color: $color_text;
        text-decoration: none;
    }
}