/*-------------------- Footer --------------------*/
.footer {
    background-color: $color_dark;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.375rem 1.563rem;

    &__logo {
        filter:invert(100%);
        width: 30%;
        margin-bottom: 1rem;
    }

    &__list {
        list-style: none;
    }

    &__item {
        margin-bottom: 0.438rem;
        &:last-child {
            margin-bottom: 0;
          }
    }

    &__link {
        display: flex;
        align-items: center;
        color: $color_text;
        text-decoration: none;

        &--bold {
            font-weight: 500;
        }

        &--thin {
            height: 1.25rem;
        }
    }

    &__icon {
        width: 1.375rem;
    }
}