/*-------------------- Loader --------------------*/
.loader {
    position: fixed;
    z-index: 10;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    animation: loader;
    animation-delay: 2s;
    animation-fill-mode: both;
    
    &__item {
      height: 1rem;
      width: 1rem;
      border-radius: 1rem;
      animation: jump 1.9s;
  
      &Container {
        display: flex;
        width: 15rem;
        justify-content: space-between;
      }
  
      &--1 {
        background-color: $color-primary;
        animation-delay: 0.2s;
      }
  
      &--2 {
        background-color: $color-secondary;
        animation-delay: 0.4s;
      }
  
      &--3 {
        background-color: $color-tertiary;
        animation-delay: 0.6s;
      }
    }
  }

@keyframes loader {
    100% {
        opacity: 0;
        z-index: -10;
    }
  }

  @keyframes jump {
    0% {
      transform: translateY(0) scale(2);
    }
    25% {
      transform: translateY(-20rem) scale(4);
    }
    50% {
      transform: translateY(0) scale(-4);
    }
    75% {
      transform: translateY(20rem) scale(-4);
    }
    100% {
      transform: translateY(0) scale(2);
    }
  }
  