.container {
    width: 100%;

    &__img {
        object-fit: cover;
        width: 100%;
        height: 275px;
    }
}

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    z-index: 1;
    margin-top: -60px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 17px;
    }

    &__title {
        font-family: "Shrikhand";
        font-size: 28px;
    }

    &__order {
        padding-left: 13px;
        padding-right: 13px;
        padding-bottom: 40px;
        animation-fill-mode: both;
        animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
    }

    &__subtitle {
        text-transform: uppercase;
        font-weight: 300;

        &::after {
            content: "";
            display: block;
            width: 40px;
            height: 3px;
            background-color: $color_tertiary;
            margin-top: 5px;
            
        }
    }

    &__list {
        padding-top: 12px;
        
    }
}

.card-menu {
    &__text {
        font-weight: 500;
        margin-right: 5px;
        width: 300px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &--1 {
            font-size: 18px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &--2 {
            font-size: 15px;
            font-weight: 300;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &__price {
        display: flex;
        align-items: end;
        font-weight: 700;
        font-size: 15px;
        margin-right: 15px;
        
    }
}

.delay-0 {
    animation: itemAppear 2s;
  }
  .delay-1 {
    animation: itemAppear 3s;
  }
  .delay-2 {
    animation: itemAppear 4s;
  }

  @keyframes itemAppear {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }